<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="Altax - A simple deployment tool for PHP">
    <meta property="og:description" content="Altax is strongly inspired by Capistrano and Cinamon. But these don’t allow you to write a deployment task in PHP. Altax is different.">
    <meta property="og:url" content="http://kohkimakimoto.github.io/altax/">
    <link href="/altax/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/altax/stylesheets/jquery.snippet.min.css" rel="stylesheet">
    <link href="/altax/stylesheets/stylesheet.css" rel="stylesheet">
    <script src="/altax/javascripts/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="/altax/javascripts/jquery.snippet.js" type="text/javascript"></script>
    <script src="/altax/javascripts/sh_sh.min.js" type="text/javascript"></script>
    <script src="/altax/javascripts/javascript.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <header>
      <div class="container">
        <div class="row">
          <div class="span2">
            <a class="logo" href="/altax/{{ page.url_prefix }}">Altax</a>
          </div>
          <div class="span6 header-menu-wrap">
            <ul class="header-menu">
              <li><a href="/altax/{{ page.url_prefix }}">ABOUT</a></li>
              <li><a href="/altax/{{ page.url_prefix }}documentation/">DOCUMENTATION</a></li>
              <!--
              <li><a href="/altax/development.html">DEVELOPMENT</a></li>
              -->
            </ul>
          </div>
          <div class="span4 header-menu-wrap">
            <ul class="header-menu" style="float: right;">
              <li><a href="/altax/">English</a></li>
              <li><a href="/altax/ja/">Japanese</a></li>
              <!--
              <li><a href="/altax/development.html">DEVELOPMENT</a></li>
              -->
            </ul>
          </div>

        </div>
      </div> <!-- /container -->
    </header>
    <div class="header-space">
      <div class="container">
        <div class="row">
          <div class="span7">
            <div class="header-space-inner">
              <h1 class="page-title"><a href="/altax/{{ page.url_prefix }}">Altax</a></h1>
              <p class="description">A simple deployment tool for PHP</p>
            </div>
          </div>
          <div class="span5 hd-logo">
          </div>
        </div>
      </div> <!-- /container -->
    </div>
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="span12">
            {{ content }}
          </div>
        </div>
      </div> <!-- /container -->
    </div>
    <hr>
    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="region">
              <div class="fb-like" data-href="http://kohkimakimoto.github.io/altax/" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true"></div>
              <a href="http://b.hatena.ne.jp/entry/http://kohkimakimoto.github.io/altax/" class="hatena-bookmark-button" data-hatena-bookmark-title="Altax - A simple deployment tool for PHP" data-hatena-bookmark-layout="vertical-balloon" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <p>Altax - A simple deployment tool for PHP. Producted by <a href="https://github.com/kohkimakimoto">Kohki Makimoto</a></p>
          </div>
        </div>
      </div> <!-- /container -->
    </footer>
  </body>
</html>
