<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} </title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="Altax - A simple deployment tool for PHP">
    <meta property="og:description" content="Altax - A simple deployment tool for PHP">
    <meta property="og:url" content="http://kohkimakimoto.github.io/altax/">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="stylesheets/stylesheet.css" rel="stylesheet">
    <script src="javascripts/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.snippet.js" type="text/javascript"></script>
    <script src="javascripts/sh_sh.min.js" type="text/javascript"></script>
    <script src="javascripts/javascript.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row-fluid">
          <div class="span2">
            <a class="logo" href="http://kohkimakimoto.github.io/altax/">Altax</a>
          </div>
          <div class="span10">
            <ul class="header-menu">
              <li><a href="http://kohkimakimoto.github.io/altax/">ABOUT</a></li>
              <li><a href="documentation.html">DOCUMENTATION</a></li>
              <li><a href="development.html">DEVELOPMENT</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- /container -->
    </header>
    <div class="header-space">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="header-space-inner">
              <h1 class="page-title"><a href="#">Altax</a></h1>
              <p class="description">A simple deployment tool for PHP</p>
            </div>
          </div>
        </div>
      </div> <!-- /container -->
    </div>
    <div class="main">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            {{ content }}
          </div>
        </div>
      </div> <!-- /container -->
    </div>
    <hr>
    <footer>
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <p>Altax - A simple deployment tool for PHP. Producted by <a href="https://github.com/kohkimakimoto">Kohki Makimoto</a></p>
          </div>
        </div>
      </div> <!-- /container -->
    </footer>
  </body>
</html>
